<!--The content below is only a placeholder and can be replaced.-->
<div class="image">
  <h1>
    Happy Birthday!
  </h1>
</div>
<div class="main-body">
<span>
  It's been 5 years already since we met.
  <br/><br/>
  Things were way different back then. We were both happy and believed that we had<br/>
  a bright future ahead of us. We were dreamers, already planning lots of things like<br/>
  our jobs, where we'll live, where we'll go, and when we'll get married.<br/>
  Things are different now.<br/><br/>

  We're both lost, we don't know what to do and where to go. We're left with no motivation.<br/>
  We've both lost the will to live and are desperately searching what it means to live.<br/>
  <br/>
  Whenever you're birthday comes, you treat it as another day. It's been that way for a long time
  and it will probably stay that way. But for me it's different.<br/><br/>

  On my bad days, what keeps me going is knowing that I still have you.<br/>
  We may not be 100% happy but even being 1% happy because of you is enough to live for.<br/>
  When I'm with you, I feel like I'm right at home.<br/>
  So, for me, your birthday is one of the days I'll always look forward to.<br/>

  It may just be a +1 in your life but it's that +1 that gave me you.
  <br/><br/>
  Happy 24th Birthday, I love you!<br/>
  <br/>
  <br/>
  -- James
</span>
  <div class="together">
    <img src="../assets/rj.jpg" id="together">
    <img src="../assets/rj22.jpg" id="together">
    <img src="../assets/rj33.jpg" id="together">
  </div>
</div>

