.image {
  text-align:center;
}

.main-body {
  text-align:justify;
  text-justify: inter-word;
  height:100%;
  margin-left: 10vw;
  margin-right: 10vw;
  font-size: 1.78vw;
 // background-color:white;
  overflow: visible;
}

.together {
  text-align: center;
  width: 80%;
  height: 50%;
}

#together {
  width: 25%;
  height: 5%;
  margin-left:5px;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
