<!--The content below is only a placeholder and can be replaced.-->
<div class="image">
  <h1>
    Happy Birthday!
  </h1>
</div>
<div class="main-body">
<span>
  It's been 5 years already since we met.

  Things were way different back then. We were both happy and believed that we had
  a bright future ahead of us. We were dreamers, already planning lots of things like
  our jobs, where we'll live, where we'll go, and when we'll get married.
  Things are different now.

  We're both lost, we don't know what to do and where to go. We're left with no motivation.
  We've both lost the will to live and are desperately searching what it means to live.
  We seek 
</span>
</div>

